body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.containerDiv {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #000;
  color: #fff;
}
.navbar {
  width: 100%;
  height: 2.7rem;
  background: #000;
  color: floralwhite;
  display: flex;
  justify-items: center;
  align-items: center;
  padding: 6px;
}
.nav {
  display: flex;
  padding: 10px;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.navHead {
  color: green;
}
.sign-out {
  background-color: red;
  border: none;
  font-size: large;
}
.list {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 3rem;
}
.over {
  background-color: #3f3f3f;
  padding: 6rem;
  border-radius: 10px;
}
.form-title {
  color: #fff;
  text-align: center;
  font-size: large;
  text-transform: uppercase;
  padding: 12px;
}
.url-list {
  background-color: #3f3f3f;
  padding: 20px;
  text-decoration: none;
  width: 100%;
  display: flex;
  justify-items: center;
  align-items: start;
  flex-direction: column;
  margin-top: 1rem;
}
.url-item {
  width: 90%;
  border-bottom: 1px solid #fff;
  padding: 10px;
  text-align: right;
  align-items: center;
  display: flex;
  justify-content: space-around;
}
.clicks-url {
  color: #0ff122;
  text-align: left;
}
.date-url {
  color: whitesmoke;
}
.auth {
  display: flex;
  justify-content: center;
  margin: 50px;
}
.auth-box {
  width: 500px;
  background-color: #3f3f3f;
  border-radius: 11px;
  overflow: hidden;
  box-shadow: rgba(255, 255, 255, 0.05) 0 6px 24px,
    rgba(255, 255, 255, 0.08) 0 0 0 1px;
  padding: 20px 10px;
}
.auth-box form {
  display: flex;
  flex-direction: column;
  height: 350px;
  padding: 20px;
}
.auth-box form input {
  margin-bottom: 26px;
  border: none;
}
.auth-options {
  width: 100%;
  border: none;
  padding: 10px;
  color: #000;
  display: flex;
  justify-content: center;
  align-items: end;
}
.create {
  background: #000;
  color: #fff;
  font-size: large;
  font-weight: 400;
}
.create:hover {
  opacity: 0.6;
}

button {
  background: #fff;
  padding: 0.5rem;
  color: #000;
  border-radius: 20%;
  cursor: pointer;
  text-transform: uppercase;
}
input {
  background: #fff;
  padding: 0.5rem;
  color: #000;
  border-radius: 17px;
  padding: 11px 7px 7px 10px;
}
a {
  text-decoration: none;
  color: #0ff;
}
